/* logo */
.header-navigation {
	height: 75px;
	display: flex;
}

.header-left {
	width: 20%;
	height: 100%;
	padding-top: 0.5%;
	display: flex;
}

.site-logo {
	width: 95%;
	height: 100%;
}

.site-logo a,
.footer-logo a {
	display: flex;
	width: 100%;
	height: 100%;
	align-content: center;
	flex-wrap: wrap;
}

.site-logo img {
	height: 60px;
}

/* logo */
/* ******************************* */
/* Slider */

/* .portfoliosection {
    height: 245px;
}

div#sliderPortfolio {
    position: relative !important;
	height: 100% !important;
	width: 100% !important;
}

#carouselstyle {
    position: relative !important;
    width: 100% !important;
    overflow: hidden !important;
    height: 240px !important;
}

.stylecolmnow{
	height: 100%;
}

.portfolio-item{
	height: 100%;
}

.portfolio-img {
    height: 100%;
	width: 100%;
}

.sliderbutton {
    height: 20px;
    top: 50%;
    background: none;
    border: none;
    width: 10%;
} */
.slick-slider {
	position: relative;
	display: block;
	user-select: none;
	touch-action: pan-y;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	transform: translate3d(0, 0, 0);
	direction: ltr;
}

/* .single-banner .slick-slide .slick-current .slick-active {
    width: 1432px !important;
    position: relative !important;
    left: 0px !important;
    top: 0px !important;
    z-index: 999 !important;
    opacity: 1 !important;
}

.single-banner.slick-slide{
	width: 1432px !important;
    position: relative !important;
    left: 1432px !important;
    top: 0px !important;
    z-index: 998 !important;
    opacity: 0 !important;
} */

.slick-track {
	position: relative;
	top: 0;
	left: 0;

	display: block;
	margin-left: auto;
	margin-right: auto;
}

.slick-track:before,
.slick-track:after {
	display: table;

	content: "";
}

#moventslidernow {
	position: relative;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;

	height: 100%;
	min-height: 1px;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;

	height: auto;

	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

/* **************************************************** */

/* section inside */
.modal-content {
	padding: 1% 0;
}

.modal-dialog {
	max-width: 865px !important;
}

@media (max-width: 576px) {
	.modal-dialog {
		max-width: 600px !important;
	}
}

@media screen and (max-width: 460px) and (min-width: 340px) {
	.modal-dialog {
		max-width: 545px !important;
	}
}

@media screen and (max-width: 340px) and (min-width: 280px) {
	.modal-dialog {
		max-width: 400px !important;
	}
}

.hoverstyle {
	display: block !important;
	width: 90%;
}

button.close {
	display: flex;
	justify-content: flex-end;
	width: 95%;
	height: 30px;
	margin-top: 1%;
	margin-bottom: 1.5%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

button.close span {
	font-size: 40px;
	color: blue;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* box bootstrab */

.login-main {
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box {
	position: relative;
	width: 100%;
	max-width: 1020px;
	height: 540px;
	background-color: #fff;
	border-radius: 3.3rem;
	box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}

.forms-wrap {
	position: absolute;
	height: 100%;
	width: 45%;
	top: 0;
	right: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	transition: 0.8s ease-in-out;
}

.forms-wrap form {
	max-width: 280px;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
	opacity: 0;
	pointer-events: none;
}

.logobox {
	display: flex;
	align-items: center;
}

.heading h2 {
	font-size: 2.1rem;
	font-weight: 600;
	color: #151111;
}

.heading h6 {
	color: #bababa;
	font-weight: 400;
	font-size: 0.75rem;
	display: inline;
}


.toggle-box {
	color: #ffffff !important;
	text-decoration: none;
	font-size: 0.75rem;
	font-weight: 500;
	transition: 0.3s;
	background-color: #0c59db !important;
	border: none !important;
	border-radius: 0 !important;
	padding: 5px 15px !important;
}

.toggle-box:hover {
	color: #fff !important;
}

.toggelBox {
	padding: 0 !important;
	border: none !important;
	background-color: #0c59db !important;
	width: 49%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-wrap {
	position: relative;
	height: 37px;
	margin-bottom: 2rem;
}

.input-field {
	position: absolute;
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	outline: none;
	border-bottom: 1px solid #000000;
	padding: 0;
	font-size: 0.95rem;
	color: #151111;
	transition: 0.4s;
}

label {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 0.95rem;
	color: black;
	pointer-events: none;
	transition: 0.4s;
	margin-bottom: 0 !important;
}

.input-field.active {
	border-bottom-color: #151111;
}

.input-field.active+label {
	font-size: 0.75rem;
	top: -2px;
}

.sign-btn {
	display: inline-block;
	width: 100%;
	height: 43px;
	background-color: #151111;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 0.8rem;
	font-size: 0.8rem;
	margin-bottom: 2rem;
	transition: 0.3s;
}

.sign-btn:hover {
	background-color: #8371fd;
}

.text {
	color: #bbb;
	font-size: 0.7rem;
	display: flex;
	justify-content: space-between;
}

.text a {
	color: #bbb;
	transition: 0.3s;
}

.text a:hover {
	color: #8371fd;
}

.login-main.sign-up-mode form.sign-in-form {
	opacity: 0;
	pointer-events: none;
}

.login-main.sign-up-mode form.sign-up-form {
	opacity: 1;
	pointer-events: all;
}

.login-main.sign-up-mode .forms-wrap {
	right: 55%;
}

.login-main.sign-up-mode .carousel {
	left: 45%;
}

.carousel {
	position: absolute;
	height: 100%;
	width: 53%;
	left: 13px;
	top: 0;
	border-radius: 2rem;
	display: grid;
	grid-template-rows: auto 1fr;
	padding-bottom: 2rem;
	overflow: hidden;
	transition: 0.8s ease-in-out;
}

.images-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.image {
	width: 100%;
	height: 385px;
	grid-column: 1/2;
	grid-row: 1/2;
	opacity: 0;
	transition: opacity 0.3s, transform 0.5s;
}

.hexagon {
	position: relative;
	width: 450px;
	height: 500px;
	margin: 50px 20px 70px;
}

.hexagon::before {
	content: '';
	position: absolute;
	bottom: -70px;
	width: 100%;
	height: 60px;
	left: 0;
	background: radial-gradient(rgba(0, 0, 0, 0.15), transparent);
	border-radius: 50%;
	transition: 0.5s;
}

.hexagon:hover::before {
	opacity: 0.8;
	transform: scale(0.8);
}

.hexagon .shape {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clip-path: polygon(0% 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
	transition: 0.5s;
}

.hexagon img {
	height: 100%;
	width: 100%;
}

.hexagon .chang {
	left: 3% !important;
	width: 95% !important;
}

.hexagon .chang,
.hexagon .change-1,
.hexagon .change-2 {
	left: 1% !important;
	width: 99% !important;
}

.hexagon.hover .shape {
	transform: translateY(-30px);
}

.img-1 {
	transform: translate(0, -50px);
}

.img-2 {
	transform: scale(0.4, 0.5);
}

.img-3 {
	transform: scale(0.3) rotate(-20deg);
}

.image.show {
	opacity: 1;
	transform: none;
}

.text-slider {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.text-wrap {
	max-height: 2.2rem;
	overflow: hidden;
	margin-bottom: 2.5rem;
}

.text-group {
	display: flex;
	flex-direction: column;
	text-align: center;
	transform: translateY(0);
	transition: 0.5s;
}

.text-group h2 {
	line-height: 2.2rem;
	font-weight: 600;
	font-size: 1.6rem;
}

.bullets {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bullets span {
	display: block;
	width: 0.5rem;
	height: 0.5rem;
	background-color: #aaa;
	margin: 0 0.25rem;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.3s;
}

.bullets span.active {
	width: 1.1rem;
	background-color: #151111;
	border-radius: 1rem;
}

/* box bootstrab */

@media screen and (max-width: 850px) and (min-width: 350px) {
	.box {
		height: auto;
		max-width: 550px;
		overflow: hidden;
	}

	.inner-box {
		position: static;
		transform: none;
		width: revert;
		height: revert;
		padding: 2rem;
	}

	.forms-wrap {
		position: revert;
		width: 100%;
		height: auto;
	}

	form {
		max-width: revert;
		padding: 1.5rem 2.5rem 2rem;
		transition: transform 0.8s ease-in-out, opacity 0.45s linear;
	}

	.forms-wrap form {
		max-width: 380px !important;
	}

	.heading {
		margin: 2rem 0;
	}

	form.sign-up-form {
		transform: translateX(0%);
	}

	.login-main.sign-up-mode form.sign-in-form {
		transform: translateX(0%);
	}

	.login-main.sign-up-mode form.sign-up-form {
		transform: translateX(0%);
	}

	.carousel {
		position: revert;
		height: auto;
		width: 100%;
		padding: 3rem 2rem;
		display: flex;
	}

	.images-wrapper {
		display: none;
	}

	.text-slider {
		width: 100%;
	}
}

@media screen and (max-width: 580px) and (min-width: 490px) {
	.header-two .header-navigation .navbar-btn a,
	.header-three .header-navigation .navbar-btn a{
		padding: 15px 10px !important;
		font-size: 12px !important;
	}
}

@media (max-width: 530px) {
	.login-main {
		padding: 0;
	}

	.box {
		border-radius: 2rem;
	}

	.inner-box {
		padding: 0;
	}

	.carousel {
		padding: 0;
		border-radius: 1.6rem;
		height: 150px;
	}

	.text-wrap {
		margin-bottom: 1rem;
	}

	.text-group h2 {
		font-size: 1.2rem;
	}

	form {
		padding: 0;
		padding-left: 3%;
	}

	.toggle-box {
		padding: 7px 50px !important;
	}

	.forms-wrap {
		position: revert;
		width: 100%;
		height: auto;
	}

	.carousel {
		position: revert;
		height: auto;
		width: 100%;
		padding: 3rem 2rem;
		display: flex;
	}

	.images-wrapper {
		display: none;
	}
}

/* section inside */

/*=======  Team  =======*/

.iconsofimgteam {
	width: 90%;
}

.member-inner i.fas.fa-user {
	font-size: 90px;
	height: 200px;
	display: flex;
	justify-content: center;
}

.teamcompany {
	background: #d7d9f9 !important;
}

/*=======  Team  =======*/